<div class="po-wrapper">
  <po-toolbar p-title="Angular_Progress"></po-toolbar>

  <po-menu [p-menus]="menus"></po-menu>

  <po-page-default p-title="Quem sou eu ?">
    <p> Meu nome é Bruno Hackbart Nunes, sou técnico em automação industrial,<br>
      estudante na área de T.I.<br>
      Atualmente estou fazendo uma graduação em Análise e desenvolvimento de<br>
      sistemas. Estou iniciando uma jornada de estudos na área de programação, <br>
      onde estou utilizando as tecnologias : Progress (Open Edge), Angular e PO UI.
   </p>
  </po-page-default>
</div>
