.profile-container {
    display: flex;
    align-items: center;
  }
  
  .po-avatar {
    margin-right: 24px; /* Ajuste a margem conforme necessário */
  }
  
  p {
    margin: 0;
  }
  .profile-container {
    display: flex;
    align-items: center;
  }
  
  .po-chart {
    margin-right: 24px; /* Ajuste a margem conforme necessário */
  }
  
  p {
    margin: 0;
  }
  